
body{
    background-color:darkblue;


}

header{
    display:flex;
    align-items: center;
    justify-content:space-around;
}
h1{
    font-family: "Cedarville Cursive";
    text-align: center;
   
    color: white;
    margin:0px;
    padding: 20px;
   

}

#nav-ul{
display: flex;


}
#nav-ul > li {
    padding: 8px;
    margin: 16px;
list-style: none;}

    .navbutton{
        color:white;
        text-decoration: none;
        padding: 12px;
        border: 1px solid white;
        font-family: "Cedarville Cursive";
        
        
        
    }
    
    
.row1{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    
    
  

}
   
.row2{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-top: 5% ;
    
}

   


  



.image{
    height:330px;
    width:330px;
    

}